body {

}

h1,h3 {
    text-align: center !important;
}

.stButton>button {
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {

}

.left-div {
    float:left;  
    width:55%; 
    height:40px; 
    font-weight: bold;
}
.right-div {
    width:55%; 
    height:40px; 
    font-weight: bold;
}

.container-div{
    width: 800px;
    display:flex;
    justify-content: space-between;
}